{% extends "layout_proveedor.twig" %}

{% block title %}
Ver Productos - Mi Tienda
{% endblock %}

{% block sesion %}
<div class="menu-seccion">
    {% if session.usuario_nombre is defined %}
        <p>Hola, {{ session.usuario_nombre }}</p>
    {% else %}
        <button><a href="login.php">Iniciar Sesión </a></button> |
        <button><a href="registro-proveedor.php">Registrarse</a></button>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>MI INVENTARIO</h2>

    <table class="tg"><thead>
        <tr>
            <th class="tg-0lax">Nombre</th>
            <th class="tg-0lax">Precio</th>
            <th class="tg-0lax">Stock</th>
            <th class="tg-0lax">Imagen</th>
            <th class="tg-0lax">Acciones</th>
        </tr>
    </thead>
        
        {% for producto in productos %}
            <tr>
                <td class="tg-0lax">{{ producto.nombre }}</td>
                <td class="tg-0lax">${{ producto.precio }}</td>
                <td class="tg-0lax">{{ producto.stock }}</td>
                <td class="tg-0lax"><img id="img-producto" src="{{ producto.imagen }}" width="100"></td>
                <td class="tg-0lax" id="acciones">
                    <button id="modify-btn" onclick="location.href='modificar-producto.php?id={{ producto.id }}'">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                        MODIFICAR
                    </button>
                    
                    <form action="eliminar-producto.php" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{ producto.id }}">
                        <button id="delete-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                            </svg>
                            ELIMINAR
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}